<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<style type="text/css" media="screen">
/* <![CDATA[ */
	label { display: block }
	input, textarea { width: 400px; border: 1px solid #ccc; font-size: 140% }
	textarea { max-width: 397px }
	.field { margin-bottom: 10px }
/* ]]> */
</style>

</head>
<body>

	<form method="POST" action="{{ request.path }}?output=form">
		{% if form.non_fields_error %}
			{{ form.non_fields_error }}
		{% endif %}
		{% for field in form %}
			<div class="field">
				{{ field.label_tag }} 
				{{ field }}
				{{ field.errors }}
			</div>
		{% endfor %}		
		
		<div class="submit field">
		<button type="submit" class="big positive button">Submit</button>
		</div>
	</form>
</body>
</html>
